.jumbotron {
    text-align: center;
    background-color: #495057;
    color: white;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card {
    margin-bottom: 15%;
}

.modal-header {
    background-color: #495057 ;
}

.modal-title {
    color: white;
}

.modal-body {
    margin: 0 auto;
}

#matchName {
    text-align: center;
}

#matchImage {
    height: 250px;
    width: 250px;
}

.footer {
    height: 8%;
    width: 100%;
    position: fixed;
    bottom: 0; 
    background-color: #495057;
    text-align: center;
}

.fab {
    padding-top: 2%;
    color: white;
}
